<!--<div class="center hero-unit">-->
<div class="center">
	<br><br>
  <center><b><FONT Size =10 >Choose Your Champion</FONT></center></b>

  <br>
  <br>


  <!--<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>-->

<center><%= link_to image_tag("lolbutt.png", alt: "lols"), 'test' %></center>

  <h2>
   <FONT size="5" >Don't know which LOL Champion to get? Press the button to help you decide!</FONT>
  </h2>
</div>